@use '../libs' as *;

#about {
    padding: 5%;
    background: linear-gradient(
            to top,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.295)
        ),
        url(../../../imgs/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center;
    
    .lay {
        @include flex-center;
        width: 80%;
        height: 80%;
        // margin: 30% 30%;

        .title {
            padding: 20px;
            @include flex-center;
            flex-direction: column;
            h1 {
                font-size: 300%;
            }
            width: 40%;
            height: 100%;
            background-color:gc(a-blue);
        }
        .info {
            border: 20px solid gc(a-blue);
            line-height: 160%;
            padding: 20px;
            width: 60%;
            height: 100%;
            @include flex-center;
        }
    }
}
