@use '../libs' as *;

/*  Contact Page  */
#contact {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.664)),
        url(../../../imgs/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 3%;
    display: grid;
    grid-template-rows: 10% 90%;

    .topbar {
        grid-row: 1;
        h1 {
            font-size: 240%;
            border-bottom: 4px solid gc(a-pink);
            width: fit-content;
        }
    }

    .main {
        grid-row: 2;
        @include flex-center;
        height: 100%;
        width: 90%;

        & > * {
            height: 80%;
        }

        margin: 0% 5%;

        form {
            background-color: gc(a-pink);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-around;
            padding: 40px;
            color: gc(bg);

            .info {
                p {
                    span {
                        &:before {
                            content: "∙"
                        }
                    }
                }
            }

            & > * {
                display: flex;
                flex-direction: column;
                label {
                    text-transform: capitalize;
                    padding: 5px;
                }
                input, textarea {
                    border: 2px solid transparent;
                    outline: none;
                    border-radius: 5px;
                    &:focus {
                        border: 2px solid gc(fg);
                    }
                }

            }

            button {
                margin: 0 30%;
                border-radius: 5px;
                outline: none;
                border: none;

            
            }

            
        }
    }


}
