@use '../libs' as *;
.landing-page {
    grid-column: 1;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0.664)),
        url(../../../imgs/pexels-henry-&-co-1939485.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .lay {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 10%;
        // color: white;
        .left {
            background-color: rgb(184, 184, 232);
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            h1 {
                font-family: $accent-font;
                font-size: 200%;
                text-align: center;
            }
            .descriptors {
                font-weight: 200;
                font-style: italic;
            }
        }

        .right {
            width: 70%;
            height: 100%;
            .options {
                width: 100%;
                height: 100%;
                @include flex-center;
                justify-content: space-evenly;

                li {
                    width: 25%;
                    height: 100%;
                    clip-path: circle(50px at 50% 50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s;
                    cursor: pointer;
                    background-color: transparent;

                    & > div,
                    i {
                        font-size: 150%;
                        transition: all 0.5s;
                        transform: scale(0.7);
                    }

                    &:hover {
                        clip-path: circle(100%);
                        &#about-btn {
                            background-color: gc(a-blue);
                        }
                        &#resume-btn {
                            background-color: gc(a-green);
                        }
                        &#port-btn {
                            background-color: gc(a-yellow);
                        }
                        &#contact-btn {
                            background-color: gc(a-pink);
                        }

                        & > i,
                        div {
                            transform: scale(1);
                        }

                        & > div {
                            transform: translateY(15px);
                        }
                    }

                    i {
                        font-size: 230%;
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        vertical-align: center;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
