@use '../libs' as *;

/*  PortFolio  */

#portfolio {
    padding: 3%;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.836)),
        url(../../../imgs/pexels-gdtography-911738.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-rows: 18% 1fr;

    .row-1 {
        grid-row: 1;

        .topbar {
            display: flex;
            position: relative;

            h1 {
                font-size: 240%;
                font-family: $accent-font;
                border-bottom: 4px solid gc(a-yellow);
            }

            .searchBar {
                position: absolute;
                display: flex;
                align-items: center;
                bottom: 0;
                margin-left: 35%;
                width: 30%;
                padding: 10px;
                background-color: gc(bg);
                border: 1px solid rgba(155, 155, 155, 0.329);
                border-radius: 30px;

                &:focus-within {
                    border: 1px solid rgba(68, 180, 228, 0.858);

                    & i {
                        color: rgba(68, 180, 228, 0.858);
                    }
                }

                input {
                    background-color: transparent;
                    height: 100%;
                    outline: none;
                    border: none;
                    width: 92%;
                    height: 100%;
                    font-size: 110%;
                }
            }
        }

        .tags {
            text-align: center;
            margin: 20px 0;
            .tag {
                background-color: rgb(178, 222, 76);
                @include tag;
                cursor: pointer;
            }
        }
    }

    .projects {
        grid-row: 2;
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        overflow-y: scroll;
        scrollbar-color: rgba(0, 0, 0, 0.082);
        padding-top: 10px;

        box-shadow: inset 0 0  12px rgba(0, 0, 0, 0.119);
        border-radius: 16px;


        .project {
            position: relative;
            z-index: 5;
            background-color: rgba(0, 0, 0, 0.322);
            color: gc(bg);
            height: 40%;
            width: 30%;
            transition: all 0.5s;
            margin: 5px;
            border-radius: 10px;

            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                z-index: 100;
                background-color: gc(a-yellow);
                .blurCard {
                    backdrop-filter: blur(5px) grayscale(1);
                    background-color: gc(a-purple);
                }
                .title, .description, .tag {
                    opacity: 1;
                }
            }


            .blurCard {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: -1;
                border-radius: 10px;
                transition: all .2s;
                backdrop-filter: blur(0px) grayscale(0);
                background-color: transparent
            }


            .title {
                font-family: $accent-font;
                font-size: 150%;
            }
            
            .tag {
                background-color: #ffffff83;
                @include tag;
            }
            
            .title, .tag, .description {
                opacity: 0;
                transition: opacity .2s;
            }
        }
    }
}
