@use '../libs' as *;

#resume {
    // width: 100vw;
    padding: 3%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.562)),
    url(../../../imgs/christian-perner-UKLIuV8rAks-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 240%;
        border-bottom: 4px solid gc(a-green);
        width: fit-content;
    }
}