:root {
  --fg: #1b1b1b;
  --bg: #fff;
}

.dark {
  --bg: #fff;
  --fg: #363636;
}

#about {
  padding: 5%;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.295)), url(../../../imgs/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .lay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
}
#about .lay .title {
  width: 40%;
  height: 100%;
  background-color: green;
}
#about .lay .info {
  width: 60%;
  height: 100%;
}
