@charset "UTF-8";
/*  Contact Page  */
#contact {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.664)), url(../../../imgs/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
  display: grid;
  grid-template-rows: 10% 90%;
}
#contact .topbar {
  grid-row: 1;
}
#contact .topbar h1 {
  font-size: 240%;
  border-bottom: 4px solid var(--a-pink);
  width: fit-content;
}
#contact .main {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#contact .main > * {
  height: 80%;
}
#contact .main form {
  background-color: var(--a-pink);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 40px;
  color: var(--bg);
}
#contact .main form .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .main form .info h2 {
  background-color: var(--bg);
  font-size: 2rem;
  color: var(--a-pink);
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}
#contact .main form .info p {
  font-style: italic;
}
#contact .main form .info p span {
  padding: 5px;
}
#contact .main form .info p span:before {
  content: "∙    ";
}
#contact .main form .info p span:first-of-type:before {
  content: "";
}
#contact .main form > * {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contact .main form > * label {
  text-transform: capitalize;
  padding: 5px;
}
#contact .main form > * input,
#contact .main form > * textarea {
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
}
#contact .main form > * input:focus,
#contact .main form > * textarea:focus {
  border: 2px solid var(--a-blue);
}
#contact .main form button {
  color: var(--a-pink);
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
  width: min-content;
  padding: 10px 20px;
  margin-top: 20px;
  font-style: italic;
  cursor: pointer;
  transition: all 0.3s;
}
#contact .main form button:hover {
  color: var(--bg);
  background-color: var(--a-pink);
  border: 2px solid var(--bg);
}
