:root {
  --fg: #1b1b1b;
  --bg: #fff;
}

.dark {
  --bg: #fff;
  --fg: #363636;
}

.landing-page {
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0.664)), url(../../../imgs/pexels-henry-&-co-1939485.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-page .lay {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10%;
}
.landing-page .lay .left {
  background-color: #b8b8e8;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.landing-page .lay .left h1 {
  font-family: "Prata", serif;
  font-size: 200%;
  text-align: center;
}
.landing-page .lay .left .descriptors {
  font-weight: 200;
  font-style: italic;
}
.landing-page .lay .right {
  width: 70%;
  height: 100%;
}
.landing-page .lay .right .options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.landing-page .lay .right .options li {
  width: 25%;
  height: 100%;
  clip-path: circle(50px at 50% 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.landing-page .lay .right .options li > div, .landing-page .lay .right .options li i {
  transition: all 0.5s;
}
.landing-page .lay .right .options li:hover {
  clip-path: circle(100%);
  background-color: rgba(77, 161, 145, 0.42);
}
.landing-page .lay .right .options li:hover > i, .landing-page .lay .right .options li:hover div {
  transform: scale(1.3);
}
.landing-page .lay .right .options li i {
  font-size: 140%;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
}
