:root {
  --fg: #1b1b1b;
  --bg: #fff;
  --a-yellow: rgba(249, 169, 83, 0.644);
  --a-yellow-trans: rgba(58, 56, 65, 0.591);
  --a-green: rgba(6, 214, 158, 0.651);
  --a-blue: rgba(17, 138, 178, 0.651);
  --a-purple: rgba(127, 106, 147, 0.651);
  --a-pink: rgba(239, 71, 110, 0.658);
}

.dark {
  --bg: #fff;
  --fg: #363636;
}

/*  Menu  */
.back-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(5px);
  z-index: 99;
}

.menu {
  position: absolute;
  width: 30%;
  z-index: 105;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #2e2e2e;
  height: 60vh;
  width: 20vw;
  margin: 20vh 40vw;
}
.menu > * {
  padding: 3px;
}
.menu li {
  /*  Hello  */
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.menu li:hover:nth-of-type(1) {
  border-bottom: 3px solid var(--a-purple);
}
.menu li:hover:nth-of-type(2) {
  border-bottom: 3px solid var(--a-blue);
}
.menu li:hover:nth-of-type(3) {
  border-bottom: 3px solid var(--a-green);
}
.menu li:hover:nth-of-type(4) {
  border-bottom: 3px solid var(--a-yellow);
}
.menu li:hover:nth-of-type(5) {
  border-bottom: 3px solid var(--a-pink);
}
.menu li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.menu .dark-btn {
  padding: 10px;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.menu-btn {
  z-index: 101;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-btn div {
  height: 3px;
  width: 20px;
  padding: 1px;
  margin-top: 3px;
  background-color: #000;
  border-radius: 10px;
}

.darkMode {
  filter: invert(0.95);
}
