:root {
  --fg: #1b1b1b;
  --bg: #fff;
  --a-yellow: rgba(249, 169, 83, 0.644);
  --a-yellow-trans: rgba(58, 56, 65, 0.591);
  --a-green: rgba(6, 214, 158, 0.651);
  --a-blue: rgba(17, 138, 178, 0.651);
  --a-purple: rgba(127, 106, 147, 0.651);
  --a-pink: rgba(239, 71, 110, 0.658);
}

.dark {
  --bg: #fff;
  --fg: #363636;
}

#resume {
  padding: 3%;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.562)), url(../../../imgs/christian-perner-UKLIuV8rAks-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#resume h1 {
  font-size: 240%;
  border-bottom: 4px solid var(--a-green);
  width: fit-content;
}
